<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!-- 지정한 패키지 하위의 모든 클래스를 소문자로 시작하는 별칭으로 등록-->
        <package name="bangshop.music"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://dokalab.asuscomm.com:50133/bangdb"/>
                <property name="username" value="bang"/>
                <property name="password" value="bang"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="sql/mapper/cy-query.xml"/>
        <mapper resource="sql/mapper/db-query.xml"/>
<!--        <mapper resource="sql/mapper/jh-query.xml"/>-->
<!--        <mapper resource="sql/mapper/sc-query.xml"/>-->
<!--        <mapper resource="sql/mapper/yr-query.xml"/>-->
    </mappers>
</configuration>